repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt
      - id: terraform_checkov
        args:
          - --args=--quiet
          - --args=--skip-check CKV2_AWS_8 # Ensure all data stored in the Launch configuration or instance Elastic Blocks Store is securely encrypted
          - --args=--skip-check CKV2_AWS_5 # Ensure no security groups allow ingress from 0.0.0.0:0 to port 22
          - --args=--skip-check CKV_TF_1 # Ensure Terraform module sources use a commit hash
          - --args=--skip-check CKV_AWS_356 # Ensure no IAM policies documents allow * as a statement's resource for restrictable actions
          - --args=--skip-check CKV_AWS_1 # Ensure IAM policies that allow full *-* administrative privileges are not created
          - --args=--skip-check CKV_AWS_2 # Ensure ALB protocol is HTTPS
          - --args=--skip-check CKV_AWS_7 # Ensure rotation for customer created CMKs is enabled
          - --args=--skip-check CKV_AWS_17 # Ensure all data stored in RDS is not publicly accessible
          - --args=--skip-check CKV_AWS_23 # Ensure every security group and rule has a description
          - --args=--skip-check CKV_AWS_24 # Ensure no security groups allow ingress from 0.0.0.0:0 to port 22
          - --args=--skip-check CKV_AWS_25 # Ensure no security groups allow ingress from 0.0.0.0:0 to port 3389
          - --args=--skip-check CKV_AWS_26 # Ensure all data stored in the SNS topic is encrypted
          - --args=--skip-check CKV_AWS_27 # Ensure all data stored in the SQS queue is encrypted
          - --args=--skip-check CKV_AWS_28 # Ensure DynamoDB point in time recovery (backup) is enabled
          - --args=--skip-check CKV_AWS_29 # Ensure all data stored in the ElastiCache Replication Group is securely encrypted at rest
          - --args=--skip-check CKV_AWS_30 # Ensure all data stored in the ElastiCache Replication Group is securely encrypted at transit
          - --args=--skip-check CKV_AWS_31 # Ensure all data stored in the ElastiCache Replication Group is securely encrypted at transit and has auth token
          - --args=--skip-check CKV_AWS_33 # Ensure KMS key policy does not contain wildcard (*) principal
          - --args=--skip-check CKV_AWS_37 # Ensure Amazon EKS control plane logging is enabled for all log types
          - --args=--skip-check CKV_AWS_38 # Ensure Amazon EKS public endpoint not accessible to 0.0.0.0/0
          - --args=--skip-check CKV_AWS_39 # Ensure Amazon EKS public endpoint disabled
          - --args=--skip-check CKV_AWS_40 # Ensure IAM policies are attached only to groups or roles
          - --args=--skip-check CKV_AWS_41 # Ensure no hard coded AWS access key and secret key exists in provider
          - --args=--skip-check CKV_AWS_42 # Ensure EFS is securely encrypted
          - --args=--skip-check CKV_AWS_43 # Ensure Kinesis Stream is securely encrypted
          - --args=--skip-check CKV_AWS_45 # Ensure no hard-coded secrets exist in lambda environment
          - --args=--skip-check CKV_AWS_46 # Ensure no hard-coded secrets exist in EC2 user data
          - --args=--skip-check CKV_AWS_49 # Ensure no IAM policies documents allow * as a statement's actions
          - --args=--skip-check CKV_AWS_50 # X-Ray tracing is enabled for Lambda
          - --args=--skip-check CKV_AWS_51 # Ensure ECR Image Tags are immutable
          - --args=--skip-check CKV2_AWS_57 # Ensure Secret Manager Automatic rotation
          - --args=--skip-check CKV_AWS_53 # Ensure S3 bucket has block public ACLS enabled
          - --args=--skip-check CKV_AWS_54 # Ensure S3 bucket has block public policy enabled
          - --args=--skip-check CKV_AWS_55 # Ensure S3 bucket has ignore public ACLs enabled
          - --args=--skip-check CKV_AWS_56 # Ensure S3 bucket has 'restrict_public_buckets' enabled
          - --args=--skip-check CKV_AWS_58 # Ensure EKS Cluster has Secrets Encryption Enabled
          - --args=--skip-check CKV_AWS_60 # Ensure IAM role allows only specific services or principals to assume it
          - --args=--skip-check CKV_AWS_61 # Ensure AWS IAM policy does not allow assume role permission across all services
          - --args=--skip-check CKV_AWS_62 # Ensure IAM policies that allow full *-* administrative privileges are not created
          - --args=--skip-check CKV_AWS_63 # Ensure no IAM policies documents allow * as a statement's actions
          - --args=--skip-check CKV_AWS_65 # Ensure container insights are enabled on ECS cluster
          - --args=--skip-check CKV_AWS_66 # Ensure that CloudWatch Log Group specifies retention days
          - --args=--skip-check CKV_AWS_70 # Ensure S3 bucket does not allow an action with any Principal
          - --args=--skip-check CKV_AWS_79 # Ensure Instance Metadata Service Version 1 is not enabled
          - --args=--skip-check CKV_AWS_80 # Ensure MSK Cluster logging is enabled
          - --args=--skip-check CKV_AWS_81 # Ensure MSK Cluster encryption in rest and transit is enabled
          - --args=--skip-check CKV_AWS_88 # EC2 instance should not have public IP.
          - --args=--skip-check CKV_AWS_91 # Ensure the ELBv2 (Application/Network) has access logging enabled
          - --args=--skip-check CKV_AWS_93 # Ensure S3 bucket policy does not lockout all but root user
          - --args=--skip-check CKV_AWS_96 # Ensure all data stored in Aurora is securely encrypted at rest
          - --args=--skip-check CKV_AWS_97 # Ensure Encryption in transit is enabled for EFS volumes in ECS Task definitions
          - --args=--skip-check CKV_AWS_100 # Ensure AWS EKS node group does not have implicit SSH access from 0.0.0.0/0
          - --args=--skip-check CKV_AWS_107 # Ensure IAM policies does not allow credentials exposure
          - --args=--skip-check CKV_AWS_108 # Ensure IAM policies does not allow data exfiltration
          - --args=--skip-check CKV_AWS_109 # Ensure IAM policies does not allow permissions management / resource exposure without constraints
          - --args=--skip-check CKV_AWS_110 # Ensure IAM policies does not allow privilege escalation
          - --args=--skip-check CKV_AWS_111 # Ensure IAM policies does not allow write access without constraints
          - --args=--skip-check CKV_AWS_115 # Ensure that AWS Lambda function is configured for function-level concurrent execution limit
          - --args=--skip-check CKV_AWS_116 # Ensure that AWS Lambda function is configured for a Dead Letter Queue(DLQ)
          - --args=--skip-check CKV_AWS_117 # Ensure that AWS Lambda function is configured inside a VPC
          - --args=--skip-check CKV_AWS_118 # Ensure that enhanced monitoring is enabled for Amazon RDS instances
          - --args=--skip-check CKV_AWS_119 # Ensure DynamoDB Tables are encrypted using a KMS Customer Managed CMK
          - --args=--skip-check CKV_AWS_123 # Ensure that VPC Endpoint Service is configured for Manual Acceptance
          - --args=--skip-check CKV_AWS_126 # Ensure that detailed monitoring is enabled for EC2 instances
          - --args=--skip-check CKV_AWS_130 # Ensure VPC subnets do not assign public IP by default
          - --args=--skip-check CKV_AWS_131 # Ensure that ALB drops HTTP headers
          - --args=--skip-check CKV_AWS_133 # Ensure that RDS instances has backup policy
          - --args=--skip-check CKV_AWS_134 # Ensure that Amazon ElastiCache Redis clusters have automatic backup turned on
          - --args=--skip-check CKV_AWS_135 # Ensure that EC2 is EBS optimized
          - --args=--skip-check CKV_AWS_139 # Ensure that RDS clusters have deletion protection enabled
          - --args=--skip-check CKV_AWS_149 # Ensure that Secrets Manager secret is encrypted using KMS CMK
          - --args=--skip-check CKV_AWS_150 # Ensure that Load Balancer has deletion protection enabled
          - --args=--skip-check CKV_AWS_152 # Ensure that Load Balancer (Network/Gateway) has cross-zone load balancing enabled
          - --args=--skip-check CKV_AWS_153 # Autoscaling groups should supply tags to launch configurations
          - --args=--skip-check CKV_AWS_155 # Ensure that Workspace user volumes are encrypted
          - --args=--skip-check CKV_AWS_156 # Ensure that Workspace root volumes are encrypted
          - --args=--skip-check CKV_AWS_158 # Ensure that CloudWatch Log Group is encrypted by KMS
          - --args=--skip-check CKV_AWS_162 # Ensure RDS cluster has IAM authentication enabled
          - --args=--skip-check CKV_AWS_163 # Ensure ECR image scanning on push is enabled
          - --args=--skip-check CKV_AWS_168 # Ensure SQS queue policy is not public by only allowing specific services or principals to access it
          - --args=--skip-check CKV_AWS_173 # Check encryption settings for Lambda environmental variable
          - --args=--skip-check CKV_AWS_184 # Ensure resource is encrypted by KMS using a customer managed Key (CMK)
          - --args=--skip-check CKV_AWS_185 # Ensure Kinesis Stream is encrypted by KMS using a customer managed Key (CMK)
          - --args=--skip-check CKV_AWS_186 # Ensure S3 bucket Object is encrypted by KMS using a customer managed Key (CMK)
          - --args=--skip-check CKV_AWS_191 # Ensure ElastiCache replication group is encrypted by KMS using a customer managed Key (CMK)
          - --args=--skip-check CKV_AWS_219 # Ensure CodePipeline Artifact store is using a KMS CMK
          - --args=--skip-check CKV_AWS_223 # Ensure ECS Cluster enables logging of ECS Exec
          - --args=--skip-check CKV_AWS_226 # Ensure DB instance gets all minor upgrades automatically
          - --args=--skip-check CKV_AWS_227 # Ensure KMS key is enabled
          - --args=--skip-check CKV_AWS_231 # Ensure no NACL allow ingress from 0.0.0.0:0 to port 3389
          - --args=--skip-check CKV_AWS_229 # Ensure no NACL allow ingress from 0.0.0.0:0 to port 21
          - --args=--skip-check CKV_AWS_230 # Ensure no NACL allow ingress from 0.0.0.0:0 to port 20
          - --args=--skip-check CKV_AWS_232 # Ensure no NACL allow ingress from 0.0.0.0:0 to port 22
          - --args=--skip-check CKV_AWS_249 # Ensure that the Execution Role ARN and the Task Role ARN are different in ECS Task definitions
          - --args=--skip-check CKV_AWS_260 # Ensure no security groups allow ingress from 0.0.0.0:0 to port 80
          - --args=--skip-check CKV_AWS_261 # Ensure HTTP HTTPS Target group defines Healthcheck
          - --args=--skip-check CKV_AWS_272 # Ensure AWS Lambda function is configured to validate code-signing
          - --args=--skip-check CKV_AWS_273 # Ensure access is controlled through SSO and not AWS IAM defined users
          - --args=--skip-check CKV_AWS_274 # Disallow IAM roles, users, and groups from using the AWS AdministratorAccess policy
          - --args=--skip-check CKV_AWS_275 # Disallow policies from using the AWS AdministratorAccess policy
          - --args=--skip-check CKV_AWS_277 # Ensure no security groups allow ingress from 0.0.0.0:0 to port -1
          - --args=--skip-check CKV_AWS_283 # Ensure no IAM policies documents allow ALL or any AWS principal permissions to the resource
          - --args=--skip-check CKV_AWS_286 # Ensure IAM policies does not allow privilege escalation
          - --args=--skip-check CKV_AWS_287 # Ensure IAM policies does not allow credentials exposure
          - --args=--skip-check CKV_AWS_288 # Ensure IAM policies does not allow data exfiltration
          - --args=--skip-check CKV_AWS_289 # Ensure IAM policies does not allow permissions management / resource exposure without constraints
          - --args=--skip-check CKV_AWS_290 # Ensure IAM policies does not allow write access without constraints
          - --args=--skip-check CKV_AWS_291 # Ensure MSK nodes are private
          - --args=--skip-check CKV_AWS_301 # Ensure that AWS Lambda function is not publicly accessible
          - --args=--skip-check CKV_AWS_304 # Ensure Secrets Manager secrets should be rotated within 90 days
          - --args=--skip-check CKV_AWS_313 # Ensure RDS cluster configured to copy tags to snapshots
          - --args=--skip-check CKV_AWS_315 # Ensure EC2 Auto Scaling groups use EC2 launch templates
          - --args=--skip-check CKV_AWS_319 # Ensure that CloudWatch alarm actions are enabled
          - --args=--skip-check CKV_AWS_322 # Ensure ElastiCache for Redis cache clusters have auto minor version upgrades enabled
          - --args=--skip-check CKV_AWS_323 # Ensure ElastiCache clusters do not use the default subnet group
          - --args=--skip-check CKV_AWS_324 # Ensure that RDS Cluster log capture is enabled
          - --args=--skip-check CKV_AWS_327 # Ensure RDS Clusters are encrypted using KMS CMKs
          - --args=--skip-check CKV_AWS_328 # Ensure that ALB is configured with defensive or strictest desync mitigation mode
          - --args=--skip-check CKV_AWS_331 # Ensure Transit Gateways do not automatically accept VPC attachment requests
          - --args=--skip-check CKV_AWS_333 # Ensure ECS services do not have public IP addresses assigned to them automatically
          - --args=--skip-check CKV_AWS_336 # Ensure ECS containers are limited to read-only access to root filesystems
          - --args=--skip-check CKV_AWS_338 # Ensure CloudWatch log groups retains logs for at least 1 year
          - --args=--skip-check CKV_AWS_339 # Ensure EKS clusters run on a supported Kubernetes version
          - --args=--skip-check CKV_AWS_341 # Ensure Launch template should not have a metadata response hop limit greater than 1
          - --args=--skip-check CKV_AWS_353 # Ensure that RDS instances have performance insights enabled
          - --args=--skip-check CKV_AWS_354 # Ensure RDS Performance Insights are encrypted using KMS CMKs
          - --args=--skip-check CKV_AWS_355 # Ensure no IAM policies documents allow * as a statement's resource for restrictable actions
          - --args=--skip-check CKV_AWS_358 # Ensure GitHub Actions OIDC trust policies only allows actions from a specific known organization
          - --args=--skip-check CKV_AWS_363 # Ensure Lambda Runtime is not deprecated
          - --args=--skip-check CKV_AWS_364 # Ensure that AWS Lambda function permissions delegated to AWS services are limited by SourceArn or SourceAccount
          - --args=--skip-check CKV_AWS_382 # Ensure no security groups allow egress from 0.0.0.0:0 to port -1
          - --args=--skip-check CKV_TF_1 # Ensure Terraform module sources use a commit hash
          - --args=--skip-check CKV_TF_2 # Ensure Terraform module sources use a tag with a version number

  - repo: https://github.com/terraform-docs/terraform-docs
    rev: v0.19.0
    hooks:
      - id: terraform-docs-go
        args: ["markdown", "table", "--output-file", "README.md", "./"]

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.24
    hooks:
      - id: tflint
        args: 
          - --enable-rule=terraform_comment_syntax
          - --enable-rule=terraform_documented_variables
          - --enable-rule=terraform_module_pinned_source
          - --enable-rule=terraform_documented_outputs
          - --enable-rule=terraform_module_version
          - --enable-rule=terraform_required_providers
          - --enable-rule=terraform_standard_module_structure
          - --enable-rule=terraform_typed_variables
          - --enable-rule=terraform_unused_declarations
          - --enable-rule=terraform_unused_required_providers