
repos:
  - repo: https://code.experian.local/scm/dpaas/pre-commit-hooks
    rev: v1.0.0  # Use the appropriate tag or commit
    hooks:
     - id: terraform-checks-variables-order

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt

  - repo: https://github.com/terraform-docs/terraform-docs
    rev: v0.19.0
    hooks:
      - id: terraform-docs-go
        args: ["markdown", "table", "--output-file", "README.md", "./"]
